
body {
    font-family: courier, monospace;
    font-size: 86%;
    }
h1 {
    background: #00a;
    color: #fff;
    font-family: verdana, sans-serif;
    font-weight: normal;
    margin-bottom: 8px;
    -moz-box-shadow: 0px 4px 5px #ccc;
    padding: 12px;
    }
    h1 img {
        display: none;
        padding-right: 6px;
        vertical-align: middle; 
        }

#info,
#control {
    background: #ddd;
    margin-bottom: 8px;
    padding: 6px 12px;
    -moz-box-shadow: 0px 4px 5px #ccc;
    }
    #info p {
        font-weight: bold;
        color: #090;
        }
#legend {
    font-size: 80%;
    border-top: 1px dotted #000;
    margin-top: 6px;
    }
    #legend p {
        margin: 0.5em;
        }
    #legend .level {
        float: none !important;
        }
#modeForm {
    padding: 1.0em 0;
    }
    #modeForm.disabled {
        color: #999;
        }
#console {
    background: #ddd;
    padding: 6px 12px;
    -moz-box-shadow: 0px 4px 5px #ccc;
    }
    #console p {
        padding: 0;
        }
        #console p.log {
            font-size: 85%;
            border-bottom: 1px dotted #000;
            margin: 0 0 1.0em 0;
            padding-bottom: 1.0em;
            }
    #console pre {
        border-bottom: 1px dotted #000;
        margin: 0 0 1.0em 0;
        padding-bottom: 1.0em;
        padding-top: 1.0em;
        padding-left: 3.5em;
        background: #eee;
        }
        .level {
            font-family: verdana, sans-serif;
            padding: 0 8px;
            }
        .w .level {
            float: left;
            background: #00a;
            color: #fff;
            }
        .h .level {
            float: left;
            background: #a00;
            color: #fff;
            }
        .l .level {
            background: #ff9;
            }
        .m .level {
            float: right;
            background: #090;
            color: #fff;
            }
        .c .level {
            float: right;
            background: #666;
            color: #fff;
            }
        .log .level {
            background: #ff9;
            }

