<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5"> 

  <display-name>TKTL BSMR Master Server</display-name>
  
  <listener>
  	<listener-class>fi.helsinki.cs.bsmr.master.BSMRContext</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Master</servlet-name>
    <servlet-class>fi.helsinki.cs.bsmr.master.MasterWebSocketServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Splits</servlet-name>
    <servlet-class>fi.helsinki.cs.bsmr.fs.SplitServlet</servlet-class>
    <init-param>
    	<param-name>loadPath</param-name>
    	<param-value>static/data/</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>Fs</servlet-name>
    <servlet-class>fi.helsinki.cs.bsmr.fs.FsServlet</servlet-class>
    <init-param>
    	<param-name>loadPath</param-name>
    	<param-value>static/data/</param-value>
    </init-param>
  </servlet>	

  <servlet>
    <servlet-name>Partitions</servlet-name>
    <servlet-class>fi.helsinki.cs.bsmr.fs.BucketServlet</servlet-class>
    <init-param>
    	<param-name>savePath</param-name>
    	<param-value>static/data/</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Master</servlet-name>
    <url-pattern>/bsmr/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Splits</servlet-name>
    <url-pattern>/fs/splits/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Fs</servlet-name>
    <url-pattern>/fs/filesystem</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Partitions</servlet-name>
    <url-pattern>/fs/partitions/*</url-pattern>
  </servlet-mapping>
  
</web-app>


