
body {
    font-family: courier, monospace;
    font-family: verdana, sans-serif;
    font-size: 86%;
    padding-bottom: 12em;
    }
h1 {
    background: #00a;
    color: #fff;
    font-family: verdana, sans-serif;
    font-weight: normal;
    margin-bottom: 8px;
    -moz-box-shadow: 0px 4px 5px #ccc;
    padding: 12px;
    }
    h1 img {
        display: none;
        padding-right: 6px;
        vertical-align: middle; 
        }
h2 {
    font-size: 120%;
    padding: 0;
    margin: 1.5em 0 0.5em 0;
    }


#info,
#control {
    background: #ddd;
    margin-bottom: 8px;
    padding: 6px 12px;
    -moz-box-shadow: 0px 4px 5px #ccc;
    }
    #info p {
        font-weight: bold;
        color: #090;
        }
#legend {
    font-size: 80%;
    border-top: 1px dotted #000;
    margin-top: 6px;
    }
    #legend p {
        margin: 0.5em;
        }
    #legend .type {
        float: none !important;
        }
#modeForm {
    padding: 1.0em 0;
    }
    #modeForm.disabled {
        color: #999;
        }
#log {
    background: #ddd;
    padding: 6px 12px;
    -moz-box-shadow: 0px 4px 5px #ccc;
    }
    #log p {
        padding: 0;
        }
        #log p.log {
            font-size: 85%;
            border-bottom: 1px dotted #000;
            margin: 0 0 1.0em 0;
            padding-bottom: 1.0em;
            }
    #log pre {
        border-bottom: 1px dotted #000;
        margin: 0 0 1.0em 0;
        padding-bottom: 1.0em;
        padding-top: 1.0em;
        padding-left: 3.5em;
        background: #eee;
        }
        .type {
            font-family: verdana, sans-serif;
            padding: 0 8px;
            }
        .we,
        .w .type {
            float: left;
            background: #00a;
            color: #fff;
            }
        .h .type {
            float: left;
            background: #a00;
            color: #fff;
            }
        .l .type {
            background: #ff9;
            }
        .m .type {
            float: right;
            background: #090;
            color: #fff;
            }
        .e .type {
            float: right;
            background: #666;
            color: #fff;
            }
        .c .type {
            float: right;
            background: #666;
            color: #fff;
            }
        .log .type {
            background: #ff9;
            }

#master {
    width: 80%;
    }
table {
    width: 100%;
    border-collapse: collapse;
    }
    td, th {
        border: 1px solid #444;
        padding: 4px;
        }
    tr {
        text-align: left;
        }


.visual td {
    width: 20px;
    height: 20px;
    }
    .visual td.empty { background: #ddd; }
    .visual td.queued { background: #ff9; }
    .visual td.done { background: #0a0; }

.job-table .code {
    width: 70%;
    }

label.textarea { display: block; }
textarea#jobCode {
    width: 40em;
    height: 10em;
    }
